<span class="multiSelect inlineBlock">
  <button id="{{directiveId}}" type="button"
          ng-click="toggleCheckboxes($event); refreshSelectedItems(); refreshButton(); prepareGroupingprepareIndex();"
      ng-bind-html="varButtonLabel"
      ng-disabled="disable-button"
  >
  </button>
  <div class="checkboxLayer">
    <div class="helperContainer" ng-if="helperStatus.filter || helperStatus.all || helperStatus.none |helperStatus.reset">
      <div class="line" ng-if="helperStatus.all || helperStatus.none || helperStatus.reset">
        <button type="button" class="helperButton"
          ng-disabled="isDisabled"
          ng-if="helperStatus.all"
          ng-click="select('all', $event);"
          ng-bind-html="lang.selectAll">
        </button>
        <button type="button" class="helperButton"
          ng-disabled="isDisabled"
          ng-if="helperStatus.none"
          ng-click="select('none', $event);"
          ng-bind-html="lang.selectNone">
        </button>
        <button type="button" class="helperButton reset"
          ng-disabled="isDisabled"
          ng-if="helperStatus.reset"
          ng-click="select('reset', $event);"
          ng-bind-html="lang.reset">
        </button>
      </div>
      <div class="line" style="position:relative" ng-if="helperStatus.filter">
        <input placeholder="{{lang.search}}" type="text"
          ng-click="select('filter', $event)"
          ng-model="inputLabel.labelFilter"
          ng-change="searchChanged()" class="inputFilter"
          />
        <button type="button" class="clearButton" ng-click="clearClicked($event)" >×</button>
      </div>
    </div>
    <div class="checkBoxContainer">
      <div
        ng-repeat="item in filteredModel | filter:removeGroupEndMarker" class="multiSelectItem"
        ng-class="{selected: item[tickProperty], horizontal: orientationH, vertical: orientationVmultiSelectGroup:item[groupProperty], disabled:itemIsDisabled(item)}"
        ng-click="syncItems(item, $event, $index);"
        ng-mouseleave="removeFocusStyle(tabIndex);">
        <div class="acol" ng-if="item[spacingProperty] > 0" ng-repeat="i in numberToArray(item[spacingProperty]) track by $index">
        </div>
        <div class="acol">
          <label>
            <input class="checkbox focusable" type="checkbox"
              ng-disabled="itemIsDisabled(item)"
              ng-checked="item[tickProperty]"
              ng-click="syncItems(item, $event, $index)" />
            <span
              ng-class="{disabled:itemIsDisabled(item)}"
              ng-bind-html="writeLabel(item, 'itemLabel')">
            </span>
          </label>
        </div>
        <span class="tickMark" ng-if="item[groupProperty] !== true && item[tickPropert] === true" nbind-html="icon.tickMark"></span>
      </div>
    </div>
  </div>
</span>
