<div class="ng-multiple dropdown dropdown-block">
  <button type="button" class="btn btn-default dropdown-toggle" ng-click="isVisible = !isVisible" ng-disabled="isDisabled">
    {{buttonLabel(ngModel)}}
    <span class="caret"></span>
  </button>
  <div role="menu" class="dropdown-menu" ng-class="{ show: isVisible }">
    <div class="multi-select-options" ng-show="showSelectors">
      <button type="button" class="btn btn-default btn-sm" ng-click="selectAll()">
        {{selectAllLabel || 'Select all'}}
      </button>
      <button type="button" class="btn btn-default btn-sm" ng-click="selectNone()" ng-disabled="!ngModel.length">
        {{selectNoneLabel || 'Select none'}}
      </button>
    </div>
    <input placeholder="{{searchLabel || 'Search'}}" type="text" class="form-control padding-right-lg" ng-model="search" />
    <ul>
      <li ng-repeat="item in items | filter:search">
        <div class="checkbox">
          <input id="{{itemLabel(item) + $index}}" type="checkbox"
            ng-checked="ngModel.indexOf(item) > -1"
            ng-click="toggleSelection(item)" />
          <label for="{{itemLabel(item) + $index}}">{{itemLabel(item)}}</label>
        </div>
      </li>
    </div>
  </div>
</div>
