<div class="dropdown dropdown-block">
  <button type="button" class="btn btn-default dropdown-toggle" ng-click="isVisible = !isVisible" ng-disabled="isDisabled">
    {{parsedLabel}}
    <span class="caret"></span>
  </button>
  <div role="menu" class="dropdown-menu" ng-class="{ show: isVisible }">
    <button type="button" class="btn btn-default btn-sm" ng-if="helpers.all" ng-click="selectAll()">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {{labels.selectAll}}
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-if="helpers.none" ng-click="selectNone()">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      {{labels.selectNone}}
    </button>
    <input placeholder="{{labels.search}}" type="text" class="form-control padding-right-lg" ng-show="helpers.filter" ng-model="search" />
    <div class="checkbox" ng-repeat="item in list | filter:search">
      <label>
        <input type="checkbox" ng-model="item.isSelected" ng-change="updateCheck(item)" />
        {{item.label}}
      </label>
    </div>
  </div>
</div>
